@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.contacts {
  display: grid;
}
